<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isShown = !isShown" [attr.aria-expanded]="isShown"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent" >
      <ul class="navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="posts" class="nav-link">Posts</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="new" class="nav-link">New post</a>
        </li>
      </ul>
    </div>
  </nav>